4mm Cartridge,4M,1              
8mm Cartridge,8M,1              
4mm/8mm Cartridge (Toronto),MM,1
Binder,BI,1                     
Compact Disk,CD,1               
Case Large,CL,3                 
Case Medium,CM,3                
Case Small,CS,3                 
3480/3490/3590 Cartridge,CT,1   
Data Cartridge Tape,DC,1        
Miscellaneous Large,DL,3        
Envelope,EN,1                   
Diskettes 3.5 Box,FD,1          
Diskette 3.5,FL,1               
Diskettes 5.25 Box,FM,1         
Micro Box/Bundle,MB,3           
Microfilm Roll,MF,1             
3420 Reel,MT,1                  
Optical Disk,OD,2               
Standard Document Box,SD,3      
TK50/TK75/DLT Cartridge,TK,1    
VHS Video Cartridge,VT,1        
Case Large,CL,1
Case Medium,CM,1
Case Small,CS,1
