<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Login" value=""/>
    <add key="Password" value=""/>
    <add key="Ignores" value="Bandl.Service.VaultLedger.Loader.exe;Bandl.Service.VaultLedger.Loader.exe.config;Bandl.Service.VaultLedger.Loader.pdb;readme;activity.log"/>
    <add key="Url" value="http://na1.vaultledger.com/vaultledger/login.aspx"/>
    <add key="Product" value="VaultLedger"/>
    <add key="Xmit" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
