<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings file="user.config">
    <add key="Idle" value="20"/>
    <add key="DBMS" value="SQLServer"/>
    <add key="ConnString" value="SERVER=.;DATABASE=B_60099;USER ID=sa;PASSWORD=cabotb21;POOLING=false"/>
    <add key="ConnVector" value=""/>
    <add key="Router" value="false"/>
    <add key="WebProxy" value=""/>
    <add key="GlobalAccount" value=""/>
    <add key="ProductType" value="bandl"/>
    <add key="SupportAccess" value="false"/>
    <add key="DbCmdTimeout" value="180"/>
    <add key="XmitMethod" value="FTP"/>
    <add key="TraceEnabled" value="TRUE"/>
  </appSettings>
  <applicationSettings>
    <Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings>
      <setting name="Bandl_Library_VaultLedger_Gateway_Bandl_Bandl_BandlService" serializeAs="String">
        <value>http://na1.vaultledger.com/service/vaultLedger.asmx</value>
      </setting>
    </Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings>
  </applicationSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v10.2.Web, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v10.2, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.2, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v10.2, Version=10.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="40"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dxwc" assembly="DevExpress.XtraReports.v10.2.Web, Version=10.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web"/>
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\mail"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>