<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="user.config">
    <add key="ConnString" value="" />
    <add key="ConnVector" value="" />
    <add key="operatorUnits" value="3" />
    <add key="mediumUnits" value="-1" />
    <add key="daysUnits" value="30" />
    <add key="dbScripts" value="database" />
    <add key="RecallHelpEngine" value="http://help.bandl.com/roboapi.asp" />
    <add key="RecallHelpProject" value="recall_recallHelp" />
    <add key="RecallHelpWindow" value="Main Window" />
    <add key="BandlHelpEngine" value="http://help.bandl.com/roboapi.asp" />
    <add key="BandlHelpProject" value="VaultLedger_VaultLedgerHelp" />
    <add key="BandlHelpWindow" value="Main Window" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <protocols>
        <remove name="HttpGet" />
        <remove name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>