<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Bandl.Library.VaultLedger.Gateway.Recall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="Bandl.Library.VaultLedger.Gateway.Recall.Recall.RecallService" value="http://localhost/Bandl.Service.VaultLedger.Recall/VaultLedger.asmx"/></appSettings><applicationSettings>
        <Bandl.Library.VaultLedger.Gateway.Recall.Properties.Settings>
            <setting name="Bandl_Library_VaultLedger_Gateway_Recall_Recall_RecallService" serializeAs="String">
                <value>http://localhost/Bandl.Service.VaultLedger.Recall/VaultLedger.asmx</value>
            </setting>
        </Bandl.Library.VaultLedger.Gateway.Recall.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
