<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="user.config">
    <add key="DBMS" value="SQLServer"/>
    <add key="MutexTimeout" value="10000"/>
    <add key="TicketIdle" value="180"/>
    <add key="ConnString" value=""/>
    <add key="ConnVector" value=""/>
    <!-- Web Service Locations -->
    <add key="Bandl.Service.VaultLedger.Recall.Gateway.Bandl.Bandl.BandlService" value="http://216.122.146.25/VaultLedger.asmx"/>
  </appSettings>
  <system.web>
    <identity impersonate="true"/>
    <compilation defaultLanguage="c#" debug="false"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <protocols>
        <remove name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
