<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings>
            <setting name="Bandl_Library_VaultLedger_Gateway_Bandl_Bandl_BandlService" serializeAs="String">
                <value>http://na1.vaultledger.com/service/vaultLedger.asmx</value>
            </setting>
        </Bandl.Library.VaultLedger.Gateway.Bandl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
